<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-md mt-4">
    <h2>Product Order Form</h2>
    <h4>Please fill all the required fields and select your desired products</h4>
    <form action="/order/form" method="POST">
        <!--        full name-->
        <div class="mb-4">
            <label class="form-label">Full Name</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="firstName" placeholder="First Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                </div>
            </div>
        </div>

        <!--        email-->
        <div class="mb-4">
            <label for="formControlInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="formControlInput" name="email" placeholder="name@example.com">
        </div>

        <!--        phone-->
        <div class="mb-4">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phoneNumber" placeholder="+84 123456789">
        </div>

        <!--        address-->
        <div>
            <div>
                <label class="form-label">Address</label>
                <div class="mb-2">
                    <input type="text" class="form-control" name="shippingAddressLine1" placeholder="Address Line 1">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" name="shippingAddressLine2" placeholder="Address Line 2">
                </div>
            </div>
            <!--            city region -->
            <div class="row mb-2">
                <div class="col">
                    <input type="text" class="form-control" placeholder="City" name="shippingCity">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Region" name="shippingRegion">
                </div>
            </div>
            <!--            postal country-->
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Postal/Zip Code" name="shippingPostalCode">
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select" name="shippingCountry">
                        <option selected="">Select country</option>
                        <option value="vietnam">Vietnam</option>
                        <option value="cambodia">Cambodia</option>
                        <option value="laos">Laos</option>
                        <option value="thailand">Thailand</option>
                        <option value="china">China</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
                <a href="/order/list">
                    <button type="button" class="btn btn-secondary">Order list</button>
                </a>
            </div>
        </div>
    </form>

    <!--    message-->
    <div class="container mt-4">
        <div th:if="${message}"
             th:classappend="${status == 'success'} ? 'alert-success' : 'alert-danger'"
             class="alert" role="alert">
            <span th:text="${message}" style="white-space: pre-line;"></span>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>